<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCU1CIT1Pg6f87pSZ-CGXC-cvkkTk8G3Mk</string>
	<key>GCM_SENDER_ID</key>
	<string>588640910091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KhoiDinh.SubletHub</string>
	<key>PROJECT_ID</key>
	<string>sublet-hub-52e99</string>
	<key>STORAGE_BUCKET</key>
	<string>sublet-hub-52e99.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588640910091:ios:7af055b29b39145621800e</string>
</dict>
</plist>